{% extends "base.html" %}

{% block extrahead %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700;800;900&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap">
  {% if not page.canonical_url and config.site_url %}
    <link rel="canonical" href="{{ config.site_url.rstrip('/') }}{{ page.url }}">
  {% endif %}
  {% set page_path = page.url or '/' %}
  {% if i18n_page_locale == 'en' %}
    {% set pt_url = page_path | replace('/en/', '/') %}
    {% set en_url = page_path %}
  {% else %}
    {% set pt_url = page_path %}
    {% set en_url = '/en' ~ page_path %}
  {% endif %}
  <link rel="alternate" hreflang="pt-BR" href="{{ config.site_url.rstrip('/') }}{{ pt_url }}">
  <link rel="alternate" hreflang="en" href="{{ config.site_url.rstrip('/') }}{{ en_url }}">
  <link rel="alternate" hreflang="x-default" href="{{ config.site_url.rstrip('/') }}{{ pt_url }}">
  {{ super() }}
{% endblock %}
